@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    border: 1px solid red;
}

body{
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
}

a{
    color: black;
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.header {
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 133px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    .header__container {
        width: 94%;
        height: 37px;
        margin: auto;
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        .header__logo {
            height: 100%;
            width: 24.6875rem;
        }
        .nav {
            display: flex;
            .nav__item{
                list-style: none;
                margin-left: 40px;
                letter-spacing: 0.12em;
                font-size: 1.25rem;
                line-height: 34px;
                font-size: 1.25rem;
            }
            .nav__item:hover {
                cursor: pointer;
                padding-bottom: 45px;
                border-bottom: 2px solid black;
            }
        }
    }
}

main {
    width: 60%;
    padding-top: 210px;
    padding-bottom: 150px;
    margin: 0 auto;
    .top {
        display: block;
        width: 100%;
        .top__image {
            width: 100%;
        }
        .top__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 3.375rem;
            line-height: 3.375rem;
            text-align: center;
            margin-block-end: 2rem;
        }
        .top__paragraph {
            margin: 0 auto 2.125rem;
            width: 70%;
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 170%;
            text-align: center;

        }
        .top__line--pc {
            width: 50%;
            height: 0;
            margin: 0 auto;
            border-top: 2px solid black;
        }
    }
}

.sub {
    .sub__header {
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 3.25rem;
        text-align: center;
    }
    .sub__article--pc {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        article {
            width: 45%;
            margin-bottom: 4rem;
            a {
                display: inline-block;
            }
            img{
                width: 100%;
            }
            h4{
                margin: 20px auto 0px;
                width: 84%;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 120%;
                text-align: center;
            }
            h4:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.footer{
    background-color: black;
    color: white;
    height: 464px;
    align-items: center;
    .footer__container {
        width: 31%;
        margin: 0 auto;
            .footer__logo {
                width: 60%;
                filter: invert(100);
            }
            .footer__text {
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 140%;
                text-align: center;
            }
            .links{
                display: flex;
                justify-content: center;
                .links__item, a{
                    color: white;
                    list-style: none;
                    text-decoration: underline;
                    margin: 0 14px;
                }
            }

            .footer_copyright {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 140%;
                text-align: center;
            }
        }
    }

@media only screen  {

}